services:
  guacamole:
    image: guacamole/guacamole
    container_name: guacamole
    restart: unless-stopped
    links:
      - "guacd:guacd"
      - "guacamoledb:mysql"
    ports:
      - "8080:8080"
    volumes:
      - /opt/guacamole:/etc/guacamole
    environment:
      GUACAMOLE_HOME: "/etc/guacamole"
      GUACD_HOSTNAME: "{{ ansible_default_ipv4.address }}"
      GUACD_PORT: "4822"
      LDAP_HOSTNAME: "{{ guacd_ldap_hostname }}"
      LDAP_PORT: "{{ guacd_ldap_port }}"
      LDAP_USER_BASE_DN: "{{ guacd_ldap_user_base_dn }}"
      LDAP_USER_SEARCH_FILTER: "{{ guacd_ldap_user_search_filter }}" 
      LDAP_GROUP_BASE_DN: "{{ guacd_ldap_group_base_dn }}"
      LDAP_GROUP_SEARCH_FILTER: "{{ guacd_ldap_group_search_filter }}"
      LDAP_SEARCH_BIND_DN: "{{ guacd_search_bind_dn }}"
      LDAP_SEARCH_BIND_PASSWORD: "{{ guacd_search_bind_password }}"
      LDAP_USERNAME_ATTRIBUTE: "{{ guacd_ldap_username_attribute }}"
      MYSQL_DATABASE: "guacamoledb"
      MYSQL_USER: "guacamoledb"
      MYSQL_PASSWORD: "{{ guac_mysql_database_pass }}"
      #- TOTP_ENABLED: "true"
