{
        "guacamoleVersion" : "*",
        "name" : "Tempname",
        "namespace" : "tempnamespace",
        "smallIcon" : "images/favicon-64.png",
        "largeIcon" : "images/favicon-144.png",
        "translations" : [ 
                "translations/en.json"
         ],

         "css" : [
                "css/login-override.css"
         ],

         "resources" : {
                "images/favicon-64.png" : "image/png",
                "images/favicon-144.png" : "image/png",
                "images/logo-placeholder.png" : "image/png",
                "images/wallpaper.png" : "image/png"
         }
}
