/* -- Background -- */
div.login-ui {
        background: {{ guac_branding_login_ui_bg }};
        background-color: {{ guac_branding_login_ui_bg_color }};
        background-image: url('app/ext/tempnamespace/images/wallpaper.png');
        background-size:cover;
}

/* -- Logo -- */
.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/logo-placeholder.png');
        width: 9;
        width: {{ guac_branding_logo_width }};
        height: {{ guac_branding_logo_height }};
        background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -moz-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -webkit-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -khtml-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
}

/* -- Center Box -- */
.login-ui .login-dialog {
        background-color: {{ guac_branding_login_ui_bg_color }};
        
}
