/* -- Background -- */
div.login-ui {
        background: {{ guac_branding_login_ui_bg }};
        background-color: {{ guac_branding_login_ui_bg_color }};
        background-image: url('app/ext/tempnamespace/images/wallpaper.png');
        background-size:cover;
}

/* -- Logo -- */
.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/logo-placeholder.png');
        width: 9;
        width: {{ guac_branding_logo_width }};
        height: {{ guac_branding_logo_height }};
        background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -moz-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -webkit-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
        -khtml-background-size: {{ guac_branding_logo_width }} {{ guac_branding_logo_height }};
}

/* -- Center Box -- */
.login-ui .login-dialog {
        background-color: {{ guac_branding_login_centerbox_bg_color }};    
}

/* -- Username and password field -- */
.login-fields .labeled-field.empty {
        background:  {{ guac_branding_login_input_field_bg_color }};
}

/* -- submit button -- */
/* -- normal -- */
input[type="submit"], button, a.button {
    background-color: {{ guac_branding_login_input_normal_color }};
    border: 1px solid rgba(0,255,145,1.1);
    font-size: 1em;
    font-weight: bold;
    font-family: Raleway, FreeSans, Helvetica, Arial, sans-serif;
}

/* -- hover -- */
input[type="submit"]:hover, button:hover, a.button:hover {
    background-color: {{ guac_branding_login_input_hover_color }};
    border: 1px solid rgba(0,145,255,1.0);
}

/* -- onclick -- */
input[type="submit"]:active, button:active, a.button:active {
    background-color: {{ guac_branding_login_input_submit_color }};
    border: 1px solid rgba(255,95,0,1.0);
}

/* -- TOTP login form --
.ng-scope { 
   color: white;
}
